/* Coolors Exported Palette - https://coolors.co/971f24-122b5e-fefefe-ab5155-9e1a20 */

/* CSS HEX */
--deep-crimson: #971F24ff;
--twilight-indigo: #122B5Eff;
--white: #FEFEFEff;
--dusty-mauve: #AB5155ff;
--ruby-red: #9E1A20ff;

/* CSS HSL */
--deep-crimson: hsla(357, 66%, 36%, 1);
--twilight-indigo: hsla(220, 68%, 22%, 1);
--white: hsla(0, 0%, 100%, 1);
--dusty-mauve: hsla(357, 36%, 49%, 1);
--ruby-red: hsla(357, 72%, 36%, 1);

/* SCSS HEX */
$deep-crimson: #971F24ff;
$twilight-indigo: #122B5Eff;
$white: #FEFEFEff;
$dusty-mauve: #AB5155ff;
$ruby-red: #9E1A20ff;

/* SCSS HSL */
$deep-crimson: hsla(357, 66%, 36%, 1);
$twilight-indigo: hsla(220, 68%, 22%, 1);
$white: hsla(0, 0%, 100%, 1);
$dusty-mauve: hsla(357, 36%, 49%, 1);
$ruby-red: hsla(357, 72%, 36%, 1);

/* SCSS RGB */
$deep-crimson: rgba(151, 31, 36, 1);
$twilight-indigo: rgba(18, 43, 94, 1);
$white: rgba(254, 254, 254, 1);
$dusty-mauve: rgba(171, 81, 85, 1);
$ruby-red: rgba(158, 26, 32, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-right: linear-gradient(90deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-bottom: linear-gradient(180deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-left: linear-gradient(270deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-top-right: linear-gradient(45deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-bottom-right: linear-gradient(135deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-top-left: linear-gradient(225deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-bottom-left: linear-gradient(315deg, #971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);
$gradient-radial: radial-gradient(#971F24ff, #122B5Eff, #FEFEFEff, #AB5155ff, #9E1A20ff);